@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}



body {
    background: #19191a;
    font-family: "Poppins", sans-serif;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensures elements stack properly */
    color: #fff;
    padding: 10px;
}

.heading {
    padding: 3vh;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h1 {
    margin-top: 10rem;
    margin-bottom: 2rem;
}
h2 {
    margin-bottom: ;
}

input[type="color"]{
    border: none;
    width: 32.5%;
    height: 40px;
    border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: none;
}

a{
    text-decoration: none;
}

.qr-text{
    padding: 1rem;
    display: block;
    background: #19191a;
    border: 1px solid #414866;
    border-radius: 4px;
    width: 100%;
    margin:  0.5rem 0 1rem 0;
    color: #fff;
    outline: none;
}

.qr-text::placeholder{
    color: #8b92b7;
    font-weight: 500;
}

#qr-code{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #414866;
}

#qr-code img, #qr-code canvas{
    max-width: 100% !important;
    max-height: 100% !important;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sizes{
    width: 32.5%;
    height: 40px;
    color: #fff;
    background: #19191a;
    border: 1px solid #414866;
    border-radius: 4px;
    outline: none;
}

.btn{
    color: #fff;
    max-width: 200px;
    padding: 14px;
    background: rgb(54, 52, 59);
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    flex: 1;
}

i {
    margin: 5px;
}


.btn img{
    width: 20px;
    margin-left: 10px;
}

.share-btn{
    margin-left: 0.7rem;
}

.action-container{
    display: flex;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .heading {
        padding: 4vh;
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 1.5rem; /* Adjust font size for better readability */
    }
}

@media (max-width: 480px) {
    .heading {
        padding: 2vh;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 512px){
    body{
        max-width: 100%;
        height: 80vh;
        padding: 10px;
    }
    #qr-code{
        width: 95vw;
        height: 95vw;
    }
    #qr-code img, #qr-code canvas{
        max-width: 95vw !important;
        max-height: 95vw !important;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center; /* Ensures elements stay centered */
    }


    .btn{
        min-width: unset;
        
    }
}

@media (max-width: 350px){
    .action-container{
        flex-direction: column;
    }
    .share-btn{
        margin-left: 0;
        margin-top: 0.7rem;
    }
}